<div class="title">
  <button mat-icon-button aria-label="Voltar" [routerLink]="['/sprints']">
    <mat-icon>arrow_back</mat-icon> Sprint 03
  </button>
  <div class="acoes">
    <button mat-icon-button aria-label="Editar" [routerLink]="['/criarSprint']">
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-icon-button aria-label="Deletar" [routerLink]="['/sprints']">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</div>
<br>

<div class="actions">
  <button mat-raised-button color="primary" (click)="iniciarSprint()">Iniciar Sprint</button>
</div>

<mat-card class="info">
  <span>Data início: {{sprint.dataInicio | date: 'dd/mm/yyyy'}}</span>
  <span>Data entrega: {{sprint.dataFim | date: 'dd/mm/yyyy'}}</span>
  <span>Estado: {{sprint.estado}}</span>
  <span>Valor entregue ao negócio: {{sprint.valorEntregueAoNegocio}}</span>
</mat-card>

<app-requisitos-sprint [requisitos]="sprint.entregas" [checkbox]="false">
</app-requisitos-sprint>