<div *ngIf="sprint$ | async as sprint">
  <div class="title">
    <button mat-icon-button aria-label="Voltar" [routerLink]="['/sprints']">
      <mat-icon>arrow_back</mat-icon> Sprint {{ sprint.numeroSprint }}
    </button>

    <div class="acoes" *ngIf="sprint.estado === 'novo'">
      <button mat-icon-button aria-label="Editar" (click)="edit(sprint.id)">
        <mat-icon>edit</mat-icon>
      </button>
<!--       <button mat-icon-button aria-label="Deletar" [routerLink]="['/sprints']">
        <mat-icon>delete</mat-icon>
      </button> -->
    </div>
  </div>
  <br />

  <div class="actions">
    <button mat-raised-button color="primary" (click)="iniciarSprint()">
      Iniciar Sprint
    </button>
  </div>

  <mat-card class="info">
    <span>Data início: {{ sprint.dataInicio | date: "dd/MM/yyyy" }}</span>
    <span>Data entrega: {{ sprint.dataFim | date: "dd/MM/yyyy" }}</span>
    <span>Estado: {{ sprint.estado }}</span>
    <span>Valor entregue ao negócio: {{ sprint.valorEntregueAoNegocio }}</span>
  </mat-card>

  <mat-card style="margin-bottom: 10px" *ngFor="let entrega of sprint.entregas">
    <mat-card-header>
      <mat-card-title>{{ entrega.requisito.nome }}</mat-card-title>
    </mat-card-header>
    <mat-card-content style="margin-left: 15px;" class="card">
      <div class="col">
        <p>Prioridade: {{ entrega.requisito.prioridade }}</p>
      </div>
      <div class="col">
        <p>Idade: {{ entrega.requisito.idade }}</p>
      </div>
      <div class="col">
        <p>
          Estimativa: 0
        </p>
      </div>
      <div class="col">
        <p>
          Autor: -
        </p>
      </div>
    </mat-card-content>
  </mat-card>

</div>
