<mat-card (click)="openSpringDetails()">
    <div class="item">
      Sprint {{sprint.numeroSprint}}
    </div>
    <div class="item">
      Estado: {{sprint.estado}}
    </div>
    <div class="item">
      Data criação: {{sprint.dataInicio | date: 'dd/MM/yyyy'}}
    </div>
    <div class="item">{{sprint.dataFim | date: 'dd/MM/yyyy'}}
    </div>
    <div class="item">
      <button mat-icon-button (click)="openSpringDetails()">
        <mat-icon>
          info
        </mat-icon>
      </button>
      &nbsp;
      <button mat-icon-button (click)="configureSprint()">
        <mat-icon>
          settings
        </mat-icon>
      </button>
    </div>
  </mat-card>