<div class="title">
  <button mat-icon-button aria-label="Voltar" [routerLink]="['/sprints']">
    <mat-icon>arrow_back</mat-icon> Nova Sprint
  </button>
</div>
<br />

<!-- <div class="search">
  <div class="search-item">
    Filtrar:

    <mat-form-field>
      <mat-label>Nome</mat-label>
      <input matInput />
    </mat-form-field>
  </div>

  <div class="search-item">
    Ordenar por:
    <mat-form-field>
      <mat-label>Escolha uma opção</mat-label>
      <mat-select>
        <mat-option value="prioridade">Prioridade</mat-option>
        <mat-option value="idade">Idade</mat-option>
        <mat-option value="estimativa">Estimativa</mat-option>
        <mat-option value="entrega">Entrega</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div> -->

<mat-card>
  <form class="form" [formGroup]="sprintForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="col">
      <mat-label>Data de início</mat-label>
      <input
        formControlName="dataInicio"
        matInput
        [matDatepicker]="picker"
        placeholder="Data de início"
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="col">
      <mat-label>Data de entrega</mat-label>
      <input matInput [matDatepicker]="picker2" formControlName="dataFim" />
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="col">
      <mat-label>Valor entregue ao negócio</mat-label>
      <input matInput formControlName="valorEntregueAoNegocio" />
    </mat-form-field>

    <button
      class="col btn"
      type="submit"
      [disabled]="!sprintForm.valid"
      mat-raised-button
      color="primary"
    >
     {{this.id ? 'Editar' : 'Criar'}}
    </button>
  </form>
</mat-card>

<app-requisitos-sprint
  [requisitos]="requisitos"
  [entregas]="sprint?.entregas"
  [checkbox]="true"
  (requisitosSelecionados)="setRequisitosSelecionados($event)"
>
</app-requisitos-sprint>
